/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Dark mode colors. */
:root {
    --sl-font: 'Roboto';
    --sl-color-accent-low: #43257c;
    --sl-color-accent: #6e45af;
    --sl-color-accent-high: #916bdb;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eceef2;
    --sl-color-gray-2: #c0c2c7;
    --sl-color-gray-3: #888b96;
    --sl-color-gray-4: #545861;
    --sl-color-gray-5: #353841;
    --sl-color-gray-6: #24272f;
    --sl-color-black: #17181c;
    --sl-content-width: 50rem;
    --sl-sidebar-width: 22rem;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #916bdb;
    --sl-color-accent: #6e45af;
    --sl-color-accent-high: #43257c;
    --sl-color-white: #17181c;
    --sl-color-gray-1: #24272f;
    --sl-color-gray-2: #353841;
    --sl-color-gray-3: #545861;
    --sl-color-gray-4: #888b96;
    --sl-color-gray-5: #c0c2c7;
    --sl-color-gray-6: #eceef2;
    --sl-color-gray-7: #f5f6f8;
    --sl-color-black: #ffffff;

}

/* Style the Markdown heading links. */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a {
    color: var(--sl-color-white);
    text-decoration: none;
    position: relative;
    display: block;
    padding-right: 1em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid var(--sl-color-hairline);

    &::after {
        content: "";
        color: var(--sl-color-white);
        background-image: url("/src/assets/chain-dark.svg");
        background-size: .5em .5em;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 33%;
        width: .75em;
        height: 1em;
        opacity: 0.3;
        transition: opacity 0.2s ease;
        vertical-align: text-bottom;
    }

    &:hover::after {
        opacity: 1;
    }
}

:root[data-theme='light'] {
    .sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a {
        &::after {
            background-image: url("/src/assets/chain-light.svg");
        }
    }
}

iframe {
    aspect-ratio: 16/9;
    width: 100%;
}

.mermaid {
    background: var(--sl-color-gray-1);
}

.hero > img {
    --size: min(10rem, calc(5rem + 6vw));
    --blur: calc(var(--size) / 5);
    --x-shift: calc(var(--size) / 5);
    --y-shift: calc(var(--size) / 10);
    font-size: var(--size);
    line-height: var(--size);
    justify-content: center;
    filter: drop-shadow(0 calc(-1 * var(--x-shift)) var(--blur) var(--sl-color-black)) drop-shadow(calc(-1 * var(--x-shift)) var(--y-shift) var(--blur) var(--sl-color-red)) drop-shadow(var(--x-shift) var(--y-shift) var(--blur) var(--sl-color-purple));
    z-index: -1;
}

summary {
    flex-direction: row-reverse;
    justify-content: start;
    padding: 0.25rem;

    .large {
        font-weight: normal;
    }
}

