pre {
  background-color: transparent !important;
  padding: 0 !important;
  background: #fff !important;
  border-radius: 20px !important;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.hljs-selector-class {
  color: #160e23 !important;
}

.hljs {
  background: transparent !important;
  display: block;
  overflow-x: auto;
  padding: 2em;
  border-radius: 20px;
  line-height: 1.3em;
  color: #160e23;

}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-comment {
  color: #93899b;
  font-style: italic;
}

.hljs-selector-tag,
.hljs-number,
.hljs-string,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-addition,
.hljs-tag,
.hljs-quote,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #6e45af;
}

.hljs-attr,
.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-regexp,
.hljs-attribute,
.hljs-deletion,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-bullet {
  color: #a88fcf;
}


.hljs-meta,
.hljs-keyword {
  color: #422969;
}

.hljs-emphasis {
  font-style: italic;
}